---
export interface Props {
  title?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogUrl: string;
  canonical: string;
  favicon?: string;
}

const { title = 'Cozy Nova' } = Astro.props as Props;
const { ogTitle = 'Cozy Nova' } = Astro.props as Props;
const { ogDescription = 'Cozy Nova content page. No additional fetched information.' } = Astro.props as Props;
const { ogUrl } = Astro.props as Props;
const { canonical } = Astro.props as Props;
const { favicon = '/favicon/sword.svg' } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href={favicon} />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta property="og:type" content="website" />
  <meta property="og:title" content={ogTitle} />
  <meta property="og:description" content={ogDescription} />
  <meta property="og:url" content={ogUrl} />
  <meta property="og:image" content="https://www.novaragnarok.com/themes/new/img/logo.png" />
  <meta property="og:image:alt" content="Logo" />
  <meta property="og:image:width" content="320" />
  <meta property="og:image:height" content="180" />

  <link rel="canonical" href={canonical} />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- DM Sans -->
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet" />

  <!-- Font Awesome -->
  <script defer src="https://kit.fontawesome.com/76c49369ed.js" crossorigin="anonymous"></script>
</head>

<body>

<!-- Slot -->
<slot></slot>

<style is:global>
	:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		#da62c4 30%,
		white 60%
	);
	--light: 0, 0%, 99%; /* white */
	--dark: 221, 44%, 19%; /* dark blue */
	--gray: 223, 10%, 59%; /* gray */
	--gray-dark: 0, 0%, 24%; /* actual dark */
	--gray-darker: 0, 0%, 14%;

	--header-light: 49, 85%, 65%; /* pale golden */

	--link-light: 49, 100%, 100%;

	--container-light: 221, 54%, 34%; /* lightless blue */
	--container-lighter: 221, 54%, 40%;
	--container-dark: 221, 50%, 27%; /* darker blue */

	--important-light: 343, 84%, 57%; /* pale wine */
	--important-lighter: 343, 100%, 66%;

	--bg-light: 221, 40%, 49%; /* higher contrast/light than -dark */
	--bg-dark: 221, 64%, 19%; /* higher contrast than -dark */

	--text-gray: 0, 0%, 91%;

	--number: 120, 68%, 62%;
	--number-orange: 36, 90%, 60%;
	--number-purple: 244, 55%, 70%;

	--height: 2.5rem;
	}

	*,
	*::before,
	*::after {
	box-sizing: border-box;
	}

	html {
	overflow-x: hidden;
	}

	body {
	color: hsl(var(--light));
	background-color: hsl(var(--bg-dark));
	font-size: 1rem;
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	}

	/* Utility classes */
	.shadow-container {
	box-shadow: 1px 1px 2px hsl(var(--bg-dark), 20%);
	}

	.border-rounded {
	border-radius: 0.5em;
	}

	.header {
	color: hsl(var(--header-light));
	font-weight: 700;
	}

	.number {
	font-weight: bold;
	color: hsl(var(--number));
	}

	.number-purple {
	font-weight: bold;
	color: hsl(var(--number-purple));
	}

	.important {
	font-weight: 700;
	text-decoration: none;
	color: hsl(var(--important-light));
	}

	.important.link-contrast {
	color: hsl(var(--important-lighter));
	}

	.important:hover {
	color: hsl(var(--important-light), 50%);
	}

	.tip {
	font-weight: bold;
	color: hsl(var(--number-orange));
	}

	.tip-question {
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.1em 0.55em;
	color: hsl(var(--link-light));
	background-color: hsl(var(--number-orange));
	border-radius: 0.25em;
	font-size: 0.75rem;

	user-select: none;
	}

	.tag {
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.1em 0.4em;
	color: hsl(var(--text-gray));
	background-color: hsl(var(--bg-dark));
	border-radius: 0.25em;
	font-size: 0.75rem;

	user-select: none;
	}

	.code {
	display: inline-flex;
	align-items: center;

	margin: 0 0.15em;
	padding: 0.35em 0.75em;
	color: hsl(var(--text-gray));
	background-color: hsl(var(--gray-dark));
	border-radius: 0.25em;

	font-size: 0.9rem;
	font-weight: 400;
	}

	.code.contrast {
	background-color: hsl(var(--gray-darker));
	}

	.new,
	.updated,
	.wip {
	padding: 0.2em 0.4em;
	color: hsl(var(--text-gray));
	border-radius: 0.5em;
	font-size: 0.5rem;
	text-transform: uppercase;
	}

	.new {
	background-color: hsl(var(--important-lighter));
	}

	.updated {
	background-color: hsl(var(--number-orange));
	}

	.wip {
	background-color: hsl(var(--number-purple));
	}

	.skill {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(1, 1fr);
	place-content: center;
	gap: 0.5em;
	padding: 0.35em 0.65em;
	color: hsl(var(--light));
	background-color: hsl(var(--bg-light), 50%);
	border-radius: 0.5em;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
	}

	.skill:hover {
	color: hsl(var(--gray-dark));
	background-color: hsl(var(--light));
	}

	.skill:active {
	opacity: 0.5;
	}

	#btn-back-to-top {
	display: none;

	bottom: 20px;
	right: 20px;

	width: 40px;
	height: 40px;

	color: hsl(var(--light));
	background-color: hsl(var(--important-lighter));

	border: none;
	border-radius: 50%;

	position: fixed;
	}

	#btn-back-to-top:hover {
	background-color: hsl(var(--important-light));
	}

	#btn-back-to-top:active {
	scale: 1.05;
	}

	.text-default {
	display: block;
	}

	.text-swap {
	display: none;
	}
</style>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</body>
</html>
